<div>

    <form name="testForm" class="_col form">

        <span class="_col form__field">
            <label for="">e-mail</label>
            <input type="email" placeholder="e-mail" class="form__input">

            <span>E-mail is empty</span>
            <span>wrong e-mail format</span>
        </span>

        <span class="_col form__field">
            <label for="">password</label>
            <input type="password" placeholder="password" class="form__input">

            <span>too short password</span>
        </span>

        <span class="_col form__field">
            <label for="">Repeat password</label>
            <input type="password" placeholder="repeat password" class="form__input">

            <span>passwords don`t match</span>
        </span>


        <button type="submit" class="form__submit">
            Register
        </button>
    </form>

</div>
